.menu {
  position: absolute;
  bottom: -35px;
  right: 10px;
  background-color: white;
  box-shadow: 2px 2px 4px black;
  width: 200px;
  height: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.btn-menu {
  cursor: pointer;
}